{
  "API_URL": "http://localhost:3001",
  "SUPABASE_URL": "https://hqmujfbifgpcyqmpuwil.supabase.co",
  "TEST_EMAIL": "test@example.com",
  "TEST_PASSWORD": "your-test-password",
  "RECORD_KEY": "79b6b242-7610-47d0-b1a6-430738a87697"
}

