-- Add barcode column to Item table if it doesn't exist
ALTER TABLE "Item" ADD COLUMN IF NOT EXISTS barcode TEXT;

-- Create unique index on barcode
CREATE UNIQUE INDEX IF NOT EXISTS idx_item_barcode_unique ON "Item"(barcode) WHERE barcode IS NOT NULL;
